.controls {
    position: relative;

    display: flex;

    height: 78px;
    padding: 0 4px;

    background: #f0f0f0;

    justify-content: space-between;
}

    .controls__track {
        align-self: center;
    }

    .controls__progress {
        left: 0;
    }

    .controls__icon {
        position: relative;
    }

    .controls__btn {
        position: relative;
        z-index: 2;

        display: inline-block;

        margin: 0 10px;

        color: rgba(0, 0, 0, 0.4);

        font-size: 22px;
    }

        .controls__btn_fixed_22 {
            width: 22px;

            text-align: center;
        }

        .controls__btn:not(.controls__btn_active):hover,
        .controls__btn:not(.controls__btn_active):focus,
        .controls__btn:not(.controls__btn_active):active{
            cursor: pointer;

            color: rgba(0, 0, 0, 1);
        }

        .controls__btn_active {
            cursor: pointer;

            color: red;
        }

    .controls__btn_volume {
        width: 20px;
    }

    .controls__basic {
        display: inline-block;

        align-self: center;
    }

    .controls__order {
        display: inline-block;

        align-self: center;
    }

    .controls__sound {
        display: inline-block;

        align-self: center;
    }

    .controls__eq-pane {
        position: absolute;
    }

    .controls__vol-input {
        width: 8px;
        height: 137px;
        margin: 0;
        padding: 0 8px;
    }
