.controls {
    position: relative;

    display: flex;

    height: 78px;
    padding: 0 4px;

    background: #f0f0f0;

    justify-content: space-between;
}

    .controls__track {
        align-self: center;
    }

    .controls__progress {
        position: absolute;
        left: 0;

        width: 100%;
        height: 5px;

        cursor: pointer;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
             -o-transform: translateY(-100%);
                transform: translateY(-100%);

        background: #bbbbbb;
    }

    .controls__current-time {
        position: absolute;
        top: 2px;
        left: 10px;

        display: none;

        pointer-events: none;

        color: white;

        font-size: 12px;
    }

    .controls__duration {
        position: absolute;
        top: 2px;
        right: 10px;

        display: none;

        pointer-events: none;

        color: white;

        font-size: 12px;
    }

        .controls:hover .controls__current-time {
            display: block;
        }

        .controls:hover .controls__duration {
            display: block;
        }


    .controls__progress-inner {
        width: 0;
        height: 100%;

        background: red;
    }

    .controls__progress-seek {
        position: absolute;
        left: 0;

        width: 0;
        height: 100%;

        background: rgba(255, 0, 0, 0.15);
    }

    .controls__progress-tooltip {
        position: absolute;
        top: -8px;
        right: 0;

        display: none;

        padding: 3px 5px;

        transform: translate(50%, -100%);
        pointer-events: none;

        color: #ffffff;
        background-color: rgba(255,0,0,0.4);

        font-size: 12px;
    }

        .controls__progress:hover .controls__progress-tooltip {
            display: block;
        }

        .controls__progress-tooltip:after {
            position: absolute;
            bottom: 0;
            left: 50%;

            width: 0;
            height: 0;

            content: "";
            transform: translate(-50%, 100%);

            border-width: 5px 5px 0 5px;
            border-style: solid;
            border-top-color: rgba(255,0,0,0.4);
        }



    .controls__progress-input {
        display: none;
    }

    .controls:hover .controls__progress {
        height: 15px;
    }

    .controls__icon {
        position: relative;
    }

    .controls__btn {
        position: relative;
        z-index: 2;

        display: inline-block;

        margin: 0 10px;

        color: rgba(0, 0, 0, 0.4);

        font-size: 22px;
    }

        .controls__btn_fixed_22 {
            width: 22px;

            text-align: center;
        }

        .controls__btn:not(.controls__btn_active):hover,
        .controls__btn:not(.controls__btn_active):focus,
        .controls__btn:not(.controls__btn_active):active{
            cursor: pointer;

            color: rgba(0, 0, 0, 1);
        }

        .controls__btn_active {
            cursor: pointer;

            color: red;
        }

    .controls__btn_volume {
        width: 20px;
    }

    .controls__basic {
        display: inline-block;

        align-self: center;
    }

    .controls__order {
        display: inline-block;

        align-self: center;
    }

    .controls__sound {
        display: inline-block;

        align-self: center;
    }

    .controls__eq-pane {
        position: absolute;
    }

    .controls__vol-pane {
        position: absolute;
        z-index: 0;
        bottom: -3px;
        left: -8px;

        display: none;

        padding: 12px 5px 30px 5px;

        border: 1px solid #999999;
        background: #ffffff;
    }

        .controls__btn:hover .controls__vol-pane,
        .controls__btn:active .controls__vol-pane{
            display: block;
        }

    .controls__vol-input {
        width: 8px;
        height: 137px;
        margin: 0;
        padding: 0 8px;
    }
