html {
    height: 100%;
}

body {
    height: 100%;

    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}

.g-centered-text {
    text-align: center;
}

.g-left-text {
    text-align: left;
}

.g-rotate_90 {
    transform: rotate(90deg);
}


@media only screen
    and (-webkit-min-device-pixel-ratio: 2)
    and (max-device-width: 736px) {
        body {
            font-size: 28px;
        }
    }
