.player {
    display: flex;

    height: 100%;

    flex-wrap: nowrap;
}

    .player__main {
        display: flex;
        flex-direction: column;

        height: 100%;

        flex-grow: 1;
        align-content: stretch;
    }

    .player__tracks {
        display: inline-block;

        width: 350px;
        height: 100%;

        border-left: 1px solid #dddddd;
    }

    .player__visual {
        position: relative;

        flex-grow: 1;
    }

    .player__controls {

    }

    .player__canvas {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 90%;
        max-width: 900px;

        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
             -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
